<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginDao</servlet-name>
        <servlet-class>LoginDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Viewevent</servlet-name>
        <servlet-class>Viewevent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Viewstudent</servlet-name>
        <servlet-class>Viewstudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Loginstu</servlet-name>
        <servlet-class>Loginstu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginDs</servlet-name>
        <servlet-class>LoginDs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signupstu</servlet-name>
        <servlet-class>Signupstu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registerstu</servlet-name>
        <servlet-class>Registerstu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registerad</servlet-name>
        <servlet-class>Registerad</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginDao</servlet-name>
        <url-pattern>/LoginDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Createevent</servlet-name>
        <url-pattern>/Createevent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Viewevent</servlet-name>
        <url-pattern>/Viewevent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Viewstudent</servlet-name>
        <url-pattern>/Viewstudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Loginstu</servlet-name>
        <url-pattern>/Loginstu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginDs</servlet-name>
        <url-pattern>/LoginDs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signupstu</servlet-name>
        <url-pattern>/Signupstu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registerstu</servlet-name>
        <url-pattern>/Registerstu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registerad</servlet-name>
        <url-pattern>/Registerad</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Createevent</servlet-name>
        <servlet-class>Createevent</servlet-class>
    </servlet>
    <welcome-file-list>
        <welcome-file>main.html</welcome-file>
    </welcome-file-list>
</web-app>
